body {
  background-color: white;
}

#container {
  width: 1080px;
  background-color: white;
  border: 3px solid #DDDDDD;
  align-items: center;
}

#top-bar {
  height: 145px;
  background-image: url("images/top-bar.png");
  align-items: center;
}

#username {
  text-align: center;
}

#follower-count {
  height: 355px;
  background-image: url("images/follower-count.png");
}

#profile-picture {
  background-image: url("images/profile pic.jpg");
  border-radius: 50%;
  height: 255px;
  width: 255px;
  margin-top: 52.5px;
  margin-left: 58.49px;
  background-size: cover;
}

#photo-bar {
  height: 140px;
  background-image: url("images/photo-bar.png");
}

#image-1 {
  background-image: url("images/council.jpg");
}

#image-2 {
  background-image: url("images/loc.jpg");
}

#image-3 {
  background-image: url("images/birthday.jpg");
}

#image-4 {
  background-image: url("images/pool.jpg");
}

#image-5 {
  background-image: url("images/legacy.jpg");
}

#image-6 {
  background-image: url("images/carnival.jpg");
}

.ig-image {
  height: 350px;
  width: 350px;
  display: inline-grid;
  grid-gap: 15px;
  background-size: cover;
}

#bottom-bar {
  height: 135px;
  background-image: url("images/bottom-bar.png");